<div class="jumbotron ">
  <h1 class="display-4"></h1>
  <p class="lead">Get it Ryt where you want it.</p>
  <hr class="my-4">
  <p>Get it Ryt is the quick, simple and cost-effective way for you and your business to transport items safely around abuja.  Our easy-to-use online booking system saves you time and money, whilst ensuring your shipment is professionally managed and monitored from collection to delivery</p>

  <%= link_to 'My shipments', expresses_path, class:"btn btn-dark btn-lg" %> | <%= link_to 'Instant Quote', expresses_path, class:"btn btn-dark btn-lg" %> <br>  <hr class="my-4"> 
   <%= link_to 'Get it Ryt', new_express_path, class:"btn btn-dark btn-lg" %>
</div>

