<div></div><br>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Request Express Pickup</h1>
     <hr class="my-4">
    <p class="lead"><%= render 'form', express: @express %>

<%= link_to 'Back', expresses_path, class:"btn btn-dark btn-lg" %></p>
  </div>
</div>
